*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
    
}
.menu-icon{
    display: none;
}
.nav-bar{
    width: 80%;
    padding: 50px 0px;
    margin:auto ;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logo{
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 32px;
    color: rgb(64, 162, 248);
}
.nav-side{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.nav-side ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
}
.nav-side ul li{
    list-style-type: none;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 16px;
    color: rgb(119, 119, 119);
}
.btns{
    border: none;
    margin-left: 20px;
    padding: 10px 20px;
    background-color:  rgba(64, 163, 248, 1);
    color: aliceblue;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}

/* hero section start */

.hero-section{
    padding: 80px 0px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 80%;
    margin: auto;
}
.text-sec{
    flex-basis: 50%;
    padding-right: 200px;
}
.find-head{
    font-size: 48px;
    font-family: 'Roboto', sans-serif;
}
.head-blue{
    color:rgba(64, 163, 248, 1);
}
.hero-des{
    font-size:14px;
    font-family: 'Roboto', sans-serif;
    padding: 30px 0px;
    line-height: 30px;
    color: rgb(112, 112, 112);
}
.image-sec{
    flex-basis: 50%;
    text-align: right;
    background-color: rgba(0, 255, 255, 0);
}
.image-sec img {
    width: 90%;
}
.live-chat{
    padding: 10px 20px;
    background-color: rgba(64, 163, 248, 1);
    border: none;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    color: aliceblue;
    border: 2px solid rgba(64, 163, 248, 1);
}
.get-appoint{
    padding: 10px 20px; 
    color: rgba(64, 163, 248, 1);
    border: 2px solid rgba(64, 163, 248, 1);
    background-color: transparent;
    border-radius: 5px    ;
    -webkit-border-radius: 5px    ;
    -moz-border-radius: 5px    ;
    -ms-border-radius: 5px    ;
    -o-border-radius: 5px    ;
}

/* <!-- 3 easy step start  --> */

.seconnd-sec{
    width: 80%;
    margin: auto;
    text-align: center;
}
.second-head{
    font-size: 42px;
    line-height: 70px;
    font-family: 'Roboto', sans-serif;
    padding-bottom: 60px;
}
.thre-box{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.box{
    flex-grow: 1;
    padding: 0px 80px;
}
.box img{
    width: 100px;
}
.box h3{
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    font-weight: 500;
    padding-bottom: 10px;
}
.box p{
    font-family: 'Roboto', sans-serif;
    font-size: 12px;
    line-height: 20px;
}

/* third sectio stratrt from here  */

.third-section{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80%;
    margin: auto;
    gap: 100px;
    padding: 100px 0px;
}
.img-side{
    flex-basis: 50% ;
    text-align: center;
}
.img-side img{
    width: 100%;
}
.content-side{
    flex-basis: 50%;
    padding-right: 100px;
    margin-left: 80px;
    
}
.content-side h1{
    font-family: 'Roboto', sans-serif;
    font-size: 42px;
    line-height: 50px;
    padding-bottom: 20px;
}
.content-side p{
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    line-height: 30px;
    padding-bottom: 20px;
}
.icon-text{
    display: flex;
    
    align-items: center;
}
.icon-text img{
    
    margin-top: -33px;
}
.icon-text p{
    margin-left: 10px;
}
.Ex-btn{
    background-color:rgba(64, 163, 248, 1);
    color: white;
    font-family: 'Roboto', sans-serif;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}

/* fourth section start from here  */

.forth-sec{
    width: 80%;
    margin: auto;
    text-align: center;
}
.forth-sec h1{
    font-family: 'Roboto', sans-serif;
    font-size: 42px;
    line-height: 50px;
}
.forth-sec p{
    font-size: 18px;
    line-height: 30px;
    font-family: 'Roboto', sans-serif;
    margin: auto;
    margin-top: 20px;
    margin-bottom: 70px;
    width: 35%;
  
}
.box-warpper{
    display: flex;
    gap: 90px;
    justify-content: space-between;
    align-items: center;
}
.boxx{
    background-color: rgb(237, 253, 255);
    padding: 60px 0px;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}
.boxx h3{
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    line-height: 30px;
    padding: 20px 0px;
}
.boxx p{
    font-size: 14px;
    padding: 0;
    margin: 0 auto;
    width: 60%;
}

/* four section start from here  */

.four-doctor{
    width: 80%;
    margin: auto;
    text-align: center;
}
.four-doctor h1{
    margin-top: 150px;
    font-family: 'Roboto', sans-serif;
    font-size: 42px;
    line-height: 50px;
}
.four-doctor img{
    margin: 20px;
}
.four-doctor p{
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    line-height: 30px;
    width: 33%;
    margin: auto;
}
.four-box-warrrper{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 50px;
}

.content-box{
    margin-top: -100px;
}
.content-box h3{
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    line-height: 30px;
}

.content-box h6{
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    line-height: 22px;
    color: rgb(202, 202, 202);
    padding-bottom: 12px;
}
.fa-facebook-f{
    background-color: rgba(77, 119, 207, 1);
    padding: 10px 13px;
    border-radius: 50px;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    -ms-border-radius: 50px;
    -o-border-radius: 50px;
}
.fa-twitter{
    background-color: rgba(29, 161, 242, 1);
    padding: 10px 10px;
    border-radius: 50px;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    -ms-border-radius: 50px;
    -o-border-radius: 50px;
    margin: 0px 10px;
}
.fa-linkedin{
    background-color: rgba(0, 119, 181, 1);
    padding: 10px 10px;
    border-radius: 50px;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    -ms-border-radius: 50px;
    -o-border-radius: 50px;
    
}
.fa-brands{
    color: aliceblue;
}
.explore{
    background-color:rgba(64, 163, 248, 1) ;
    border: none;
    padding: 10px 20px;
    color: aliceblue;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    margin-top: 70px;
}

/* five section start from here  */

.five-sec{
    width: 80%;
    margin: auto;
    display: flex;
    justify-content:center ;
    align-items: center;
    padding: 80px 0px
    
}
.mockup-div{
    flex-basis: 50%;
    position: relative;
    z-index: -7;
}
.mockup-div img{
    width: 100%;
    margin-left: -50px;

}
.cont-div {
    flex-basis: 50%;
    padding-left: 120px;
    padding-right: 100px;
    z-index: -6;
}
.cont-div h1{
    font-family: 'Roboto', sans-serif;
    font-size: 42px;
    line-height: 60px;
}
.cont-div p{
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    line-height: 30px;
    padding: 30px 0px;
}

/* blue section start from here  */
.blue-sec{
    width: 80%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgba(64, 163, 248, 1);
    height: 395px;
    
    
}
.conternt-part{
    flex-basis: 50%;
    padding-left: 100px;
    padding-right: 200px;
    background-color: rgb(0, 122, 122);

}

.img-part{
    flex-basis: 50%;
    height: 80%;
    background-color: aquamarine;
    position: relative;
}
.img-part img  {
    width: 100%;
    position: absolute;
    bottom: 0px;
    right: 0px;
    
    
}

/* <!-- <<----------- 2nd blue section---------------->>>> --> */
.sec-box{
    overflow: visible;
    background-image: url("assets/Object.png");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 80%;
    margin: auto;
    margin-top: 100px;
    background-color:rgba(64, 163, 248, 1);
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 395px;
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
    z-index: -99;
}
.he{
    font-family: 'Roboto', sans-serif;
    font-size: 42px;
    font-weight: 500;
    color: white;
    padding-bottom: 20px;
}
.div1{
    flex-basis: 50%;
    background-color: rgba(0, 255, 255, 0);
    padding-left: 100px;
    padding-right: 200px;
    
}
.div2{
    background-color: rgba(0, 255, 255, 0);
    flex-basis: 50%;
    height: 100%;
    position: relative;
    z-index: 77;

}
.div2 img{
    position: absolute;
    width: 80%;
    background-color: rgba(255, 0, 0, 0);
    bottom:0px;
    right: 0px;
    z-index: 99;
}
.div1 button{
    padding: 12px 15px;
    background-color: aliceblue;
    color: rgb(139, 197, 252);
    border: none;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}


/* <!-- <<----------- 2nd blue section---------------->>>> --> */
/* foooter start from here */

.footer{
    width: 80%;
    margin: auto;
    padding-top: 150px;
}
.for-div-warper{
    display: flex;
    justify-content: space-between;
    align-items:flex-start ;
}
.sec-one{
    flex-basis: 40%;
}
.sec-tow{
    flex-basis: 20%;
}
.sec-thre{
    flex-basis: 20%;
}
.sec-four{
    flex-basis: 20%;
}
.sec-one h3{
    font-family: 'Roboto', sans-serif;
    font-size: 32px;
    line-height: 47px;
    font-weight: 500;
    color: rgba(64, 163, 248, 1);
}
.sec-one p{
    font-size: 14px;
    font-family: 'Roboto', sans-serif;
    line-height: 25px;
    margin-bottom: 10px;
    color: rgb(138, 138, 138);

}
.sec-tow h3{
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    line-height: 16px;
    font-weight: 500;
    color: rgb(8, 8, 8);
}

.sec-tow ul li {
    list-style-type: none;
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    line-height: 16px;
    color: rgb(138, 138, 138);
    margin-top: 20px;
}
.sec-thre h3{
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    line-height: 16px;
    font-weight: 500;
    color: rgb(8, 8, 8);
}
.sec-thre ul li{
    list-style-type: none;
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    line-height: 16px;
    color: rgb(138, 138, 138);
    margin-top: 20px;
}
.sec-four  h3{
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    line-height: 16px;
    color: rgb(8, 8, 8);
}
.sec-four p{
    
    list-style-type: none;
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    line-height: 16px;
    color: rgb(138, 138, 138);
    margin-top: 20px;
}
#email{
    display: block;
    width: 100%;
    padding: 10px;
    border: none;
    background-color: rgb(236, 236, 236);
    margin-top: 30px;
}
.sec-four {
    padding-bottom: 20px;
}

#subs{
    width: 100%;
    background-color:rgba(64, 163, 248, 1) ;
    border: none;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    padding: 10px ;
    color: rgb(255, 255, 255);
    margin-top: 20px;
}
.copyd-sec{
    border-top: 1px solid rgb(231, 231, 231);
    padding-top: 20px;
    padding-bottom: 30px;
}
.copy-sec{
    width: 80%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.copy p{
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    line-height: 16px;
    color: rgb(138, 138, 138);
} 
.menu ul {
    display: flex;
    justify-content: center;
    gap: 60px;
}
.menu ul li{
    list-style-type: none;
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    line-height: 16px;
    color: rgb(138, 138, 138);
}
